<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>空如也</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="root"></div>
</body>
</html>
