<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>空如也</title>
	<link rel="stylesheet" type="text/css" href="/static/css/public.css">
	<link rel="stylesheet" type="text/css" href="/static/css/atom-one-dark.css">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
</head>
<body>
	<div id="content"></div>
	<script src="http://localhost:7777/bundle.js"></script>
</body>
</html>
