.Like{
  padding: 40px 20px 20px 20px;
  text-align: center;
  span{
    color: #666;
    display: inline-block;
    width: 100px;
    height: 26px;
    border: 1px solid #666;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    b{
      font-weight: normal;
      margin-left: 20px;
    }
  }
  span:hover i{
    color: red;
  }
  span:active{
    color: #000;
  }
}
